
@inject IDepartmentRepository departmentRepo
@model EmployeeViewModel
@{
    var departments = new SelectList(await departmentRepo.GetAllAsync(),"Id","Name");
}
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label class="col-form-label" asp-for="Image">Image</label>
        <input class="form-control" asp-for="Image"/>
       
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Age"></label>
        <input class="form-control" asp-for="Age"></input>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Salary"></label>
        <input class="form-control" asp-for="Salary">
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Department"></label>
        <select class="form-control" asp-items="@departments" asp-for="DepartmentId">
            <option value="@null">-----------------Select Department -----------------</option>
        </select>
    </div>
    
        <div class="form-group">
        <label class="col-form-label" asp-for="Address"></label>
        <input class="form-control" asp-for="Address"/>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label class="col-form-label" asp-for="Phonenumber"></label>
        <input class="form-control" asp-for="Phonenumber" />
        <span asp-validation-for="Phonenumber" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label class="col-form-label" asp-for="IsActive"></label>
        <input class="form-control" asp-for="IsActive" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
