@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Department</h1>
<div asp-validation-summary="All"></div>
<form asp-action="Edit">
    <div class="form-group">
        <label class="col-form-label" asp-for="Code"></label>
        <input class="form-control" asp-for="Code"/>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="DateofCreation"></label>
        <input class="form-control" asp-for="DateofCreation"/>
        <span asp-validation-for="DateofCreation" class="text-danger"></span>
    </div>
    <input type="Submit" value="Save" class="btn btn-primary"/>
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</form>
@section ValidationScriptSection
{
        <partial name="_ValidationScriptsPartail"/>

}
